---
layout: default
title: Astrophotography Gallery
permalink: /photos.html
---
{% assign all_photos = site.pages | where_exp:"asset", "asset.path contains 'photos/'" | sort: 'date' | reverse  %}
{% assign photo_groups = all_photos | group_by: "title" %}
{% assign site_catalogues = site.data.catalogues | keys %}
{% assign photo_catalogues = all_photos | map: "catalogues" | compact %}
{% assign catalogues = site_catalogues | concat: photo_catalogues | uniq %}

<div class="w3-container w3-center">
    <h1>PHOTOS</h1>
    <div class="w3-section w3-bottombar w3-padding-16">
        <div class="w3-margin-left w3-margin-right">
            <input id="search" list="targets" class="w3-input search" type="text" placeholder="Search..." onchange="doSearch()"/>
            <datalist id="targets">
                {% for group in photo_groups %}
                    {% assign object_meta = site.data.objects[group.name] %}
                    {% if object_meta %}
                        {% if object_meta.name %}
                        <option value="{{object_meta.name}}"></option>
                        {% endif %}
                        {% if object_meta.catalogues %} 
                            {% for group_catalogues in object_meta.catalogues %}
                            <option value="{{group_catalogues | last}}"></option>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                    <option value="{{group.name}}"></option>
                    {% endif %}
                {% endfor %}
            </datalist>
        </div>
        <div class="w3-margin-left w3-margin-right w3-margin-top">
            Catalogue: 
            <button class="w3-button flat" onclick="clearFilters()">ALL</button>
            {% for cat in catalogues %}
            <div style="display: inline-block; position: relative;">
                {% for meta in site.data.catalogues %}
                    {% if meta.first == cat %}
                        {% assign cat_meta = meta %}
                    {% endif %}
                {% endfor %}
                {% if cat_meta %}
                    <button class="w3-button flat" onclick="filterByCatalogue('{{cat}}')">
                        {% if cat_meta.last.icon %}<i class="icon {{cat_meta.last.icon}}"></i>{% endif %}
                        {{ cat }}
                    </button>
                    {% if cat_meta.last.extern %}
                    <a href="{{cat_meta.last.extern}}" target="_blank" style="font-size: small; position: absolute; top: 0; right: 0"><i class="icon info"></i></a>
                    {% endif %}
                {% else %}
                    <button class="w3-button flat" onclick="filterByCatalogue('{{cat}}')">
                        {{ cat }}
                    </button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="gallery" class="w3-row-padding">
    {% for group in photo_groups %}
    {% assign photo = group.items[0]%}
    <div class="w3-quarter w3-padding" data-target="{{ group.name }}">
        <div class="w3-card panel">
            <a href="{{site.baseurl}}{{group.items[0].url}}" style="height: 256px; overflow: clip; display: block;">
                {% include thumbnail.html photo=photo %}
            </a>
            <div class="w3-container">
                <p>
                    <b>{% include objectname.html photo=photo %}</b><br>
                    <small>updated: {{ group.items[0].date }}</small>
                </p>
                <p>
                    <ol class="align-right" style="min-height: 6em; list-style: none;">
                        <li>Recent Images</li>
                        {% for asset in group.items limit:3 %}
                            <li><a href="{{site.baseurl}}{{asset.url}}">{{ asset.date }}</a></li>
                        {% endfor %}
                    </ol>
                    {% if site.data.objects[photo.title].href %}
                    <a class="w3-button flat" style="width: 100%;" href="{{site.baseurl}}/objects/{{group.name | downcase}}">About Object</a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% assign object_meta = site.data.objects[group.name] %}
        {% assign object_catalogues = object_meta.catalogues | keys %}
        {% assign group_catalogues = group.items | map:"catalogues" | compact %}
        {% assign all_catalogues = object_catalogues | concat: group_catalogues | uniq %}
        <datalist class="aliases">
            {% for cat in all_catalogues %}
            <abbr title="{{cat}}">{%if object_meta.catalogues[cat] %}{{object_meta.catalogues[cat]}}{% else %}{{group.name}}{% endif%}</abbr>
            {% endfor %}
            {% if object_meta.name %}
            <abbr title="Common Name">{{object_meta.name}}</abbr>
            {% endif%}
        </datalist>
    </div>
    {% endfor %}
</div>

<script>
function showHide(elem) {
    console.log(elem);
    var list = elem.parentElement.getElementsByTagName("ul");
    if (!list)
        return;
    if (list.length < 1)
        return;
    toHide = list[0];
    console.log(toHide)
    if (toHide) {
        if (toHide.classList.contains("w3-hide")) {
            toHide.classList.remove("w3-hide");
            toHide.classList.add("w3-show"); 
            elem.innerText = "Hide";
        } else {
            toHide.classList.remove("w3-show");
            toHide.classList.add("w3-hide");
            elem.innerText = "See More";
        }
    }
}

function doSearch() {
    var filterStr = document.getElementById("search").value;
    filterByTarget(filterStr);
}

function filter(cond) {
    for (var child of document.getElementById("gallery").children) {
        var target = child.dataset;
        if (target && cond(child, target)) {
            child.classList.add("w3-show");
            child.classList.remove("w3-hide");
        } else {
            child.classList.add("w3-hide");
            child.classList.remove("w3-show");
        }
    }
}

function clearFilters() {
    filter((el, data) => true);
}

function filterByTarget(filterStr)  {
    filter((el, data) => {
        if (typeof filterStr !== "string" && !(filterStr instanceof String))
            return false;
        if (data.target.includes(filterStr)) {
            return true;
        }

        var aliases = el.getElementsByClassName("aliases")[0].getElementsByTagName("abbr");
        if (aliases) {
            for (let alias of aliases) {
                if (alias.innerText.includes(filterStr)) {
                    return true;
                } 
            }
        }
        return false;
    });
}

function filterByCatalogue(catalogue) {
    filter((el, data) => {
        console.log(el);
        var aliases = el.getElementsByClassName("aliases")[0].getElementsByTagName("abbr");
        if (aliases) {
            for (let alias of aliases) {
                console.log("testing " + alias + " against " + catalogue);
                if (alias.title === catalogue) {
                    return true;
                }
            }
        } 
        return false;
    });
}
</script>