---
layout: default
---

<div class="w3-container w3-center w3-bottombar">
    <h1>POSTS</h1>
</div>

{% if site.posts.size < 1 %}
<div class="w3-margin-top w3-center" style="padding-top: 32px; width: 640px; max-width: 100%; margin-left: auto; margin-right: auto;">
    <div class="w3-round-xlarge w3-padding panel">
        There are no posts yet!
    </div>
</div>
{% endif %}

<div class="timeline ruler">
    {% for post in site.posts %}
    <div class="container {% cycle 'left', 'right' %}">
        <div class="content">
            <small>{{ post.date | date: "%Y-%m-%d" }}</small>
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt | strip_html | truncatewords: 50  }}</p>
            <div>
                <a href="{{site.baseurl}}{{post.url}}" class="w3-button flat" style="width: 100%;">Continue Reading</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>