<figure id="{{include.id}}">
    {% if include.before_src and include.after_src %}
    <div class="compare">
        <div class="before" style="background-image: url('{{include.before_src}}');"></div>
        <div id="after-{{include.id}}" class="after" style="background-image: url('{{include.after_src}}');"></div>
        <input type="range" min="1" max="100" value="50" class="slider" name='slider' oninput="compare_{{include.id}}(event.srcElement)">
    </div>
    {% else %}
    <img src="{{include.src}}" alt="{{include.caption}}">
    {% endif %}
    <figcaption>{{include.caption}}</figcaption>
</figure>
{% if include.before_src and include.after_src %}
<script>
function compare_{{include.id}}(el) {
    var percent = el.value;
    document.getElementById("after-{{include.id}}").style.width = percent + "%";
}
</script>
{% endif %}