{% if page.title %}
<title>{{ page.title }}{%if page.datestampTitle%} {{ page.date | date: "%Y-%m-%d" }}{%endif%} | {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<meta charset="UTF-8">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/static/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/static/favicon/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{site.baseurl}}/static/favicon/favicon.ico">
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
<meta name="msapplication-TileColor" content="#333333">
<meta name="msapplication-TileImage" content="{{site.baseurl}}/static/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="{{site.baseurl}}/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{site.baseurl}}/css/w3.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/w3.timeline.css"> 
<link rel="stylesheet" href="{{site.baseurl}}/css/w3.arrows.css"> 
<link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/code.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/theme.css">

<script src="{{site.baseurl}}/js/site.js"></script>