<div class="w3-top no-print" style="z-index: 50;">
    <nav class="w3-bar w3-card">
        <a href="{{ site.baseurl }}/" class="w3-bar-item w3-button flat w3-wide">
            <i class="icon favicon"></i>
            <span class="w3-hide-small">{{ site.title | upcase }}</span>
        </a>
        <div class="w3-right">
        {% include navbar_items.html %}
        </div>
    </nav>
</div>
<div>
    <nav class="w3-bar w3-card">
        <a href="{{ site.baseurl }}/" class="w3-bar-item w3-button flat w3-wide">
            <i class="icon favicon"></i>
            <span class="w3-hide-small">{{ site.title | upcase }}</span>
        </a>
        <div class="w3-right">
        {% include navbar_items.html %}
        </div>
    </nav>
</div>
