<div class="w3-dropdown-hover">
    <button class="w3-button flat">PHOTOS <i class="w3-arrow down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 ">
        <a href="{{ site.baseurl }}/photos" class="w3-bar-item w3-button flat">GALLERY</a>
        <a href="{{ site.baseurl }}/slideshow" class="w3-bar-item w3-button flat">SLIDES</a>
    </div>
</div>
<a href="{{ site.baseurl }}/gear" class="w3-bar-item w3-button flat">GEAR</a>
<a href="{{ site.baseurl }}/posts-by-chronology" class="w3-bar-item w3-button flat">POSTS</a>